[submodule "3 semester/Object-oriented programming/jizapika"]
	path = 3 semester/Object-oriented programming/jizapika
	url = https://github.com/is-oop-y24/jizapika
[submodule "5 semester/Web Programming/Web-Programming-Course"]
	path = 5 semester/Web Programming/Web-Programming-Course
	url = https://github.com/jizapika/Web-Programming-Course
